@charset "EUC-KR";

html { /*전체 */
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

/*상단바 css*/
.topMenuWrapper {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 80px;
	background-color: lightgray;
	top: 0;
	left: 0;
}

h1 {
	color: rgb(78, 78, 78);
	margin-left: 40px;
	float: left;
	line-height: 40px;
}

.topMenu {
	margin-right: 40px;
	float: right;
}

.topMenu li {
	list-style: none;
	float: left;
}

.topMenu a {
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
	color: rgb(78, 78, 78);
	padding: 0 40px;
	line-height: 80px;
}
/*상단바 css 끝*/

.table-wrapper {
	background: #F144FF;
	padding: 20px 25px;
	border-radius: 3px;
	min-width: 1000px;
}

.table-title {
	padding-bottom: 15px;
	color: #ff595f;
	padding: 16px 30px;
	min-width: 100%;
	margin: -20px -25px 10px;
	border-radius: 3px 3px 0 0;
}

button.button_add, .button_delete, .button_edit, .button_reset {
	border: 0;
	outline: none;
	font-size: 15px;
	margin: 5px;
	background: white;
	color: black;
	padding: 10px;
	cursor: pointer;
	border-radius: 10px;
}

button.button_add:hover, .button_delete:hover, .button_edit:hover,
	.button_reset:hover {
	color: black;
	background: orange;
}

.button_method {
	width: 100%;
	margin-right: 1%;
	text-align: right;
	float: right;
}

.table-title h2 {
	margin: 5px 0 0;
	font-size: 24px;
}

.table-title .btn-group {
	float: right;
}

.table-title .btn {
	color: #fff;
	float: right;
	font-size: 13px;
	border: none;
	min-width: 50px;
	border-radius: 2px;
	border: none;
	outline: none !important;
	margin-left: 10px;
}

.table-title .btn i {
	float: left;
	font-size: 21px;
	margin-right: 5px;
}

.table-title .btn span {
	float: left;
	margin-top: 2px;
}

table.table tr th, table.table tr td {
	border-color: #e9e9e9;
	padding: 12px 15px;
	vertical-align: middle;
}

table.table tr th:first-child {
	width: 60px;
}

table.table tr th:last-child {
	width: 100px;
}

table.table-striped tbody tr:nth-of-type(odd) {
	background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
	background: #f5f5f5;
}

table.table th i {
	font-size: 13px;
	margin: 0 5px;
	cursor: pointer;
}

table.table td:last-child i {
	opacity: 0.9;
	font-size: 22px;
	margin: 0 5px;
}

table.table td a {
	font-weight: bold;
	color: #566787;
	display: inline-block;
	text-decoration: none;
	outline: none !important;
}

table.table td a:hover {
	color: #2196F3;
}

table.table td a.edit {
	color: #FFC107;
}

table.table td a.delete {
	color: #F44336;
}

table.table td i {
	font-size: 19px;
}

table.table .avatar {
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 10px;
}

.pagination {
	float: right;
	margin: 0 0 5px;
}

.pagination li a {
	border: none;
	font-size: 13px;
	min-width: 30px;
	min-height: 30px;
	color: #999;
	margin: 0 2px;
	line-height: 30px;
	border-radius: 2px !important;
	text-align: center;
	padding: 0 6px;
}

.pagination li a:hover {
	color: #666;
}

.pagination li.active a, .pagination li.active a.page-link {
	background: #03A9F4;
}

.pagination li.active a:hover {
	background: #0397d6;
}

.pagination li.disabled i {
	color: #ccc;
}

.pagination li i {
	font-size: 16px;
	padding-top: 6px
}

.hint-text {
	float: left;
	margin-top: 10px;
	font-size: 13px;
}
/* Custom checkbox */
.custom-checkbox {
	position: relative;
}

.custom-checkbox input[type="checkbox"] {
	opacity: 0;
	position: absolute;
	margin: 5px 0 0 3px;
	z-index: 9;
}

.custom-checkbox label:before {
	width: 18px;
	height: 18px;
}

.custom-checkbox label:before {
	content: '';
	margin-right: 10px;
	display: inline-block;
	vertical-align: text-top;
	background: white;
	border: 1px solid #bbb;
	border-radius: 2px;
	box-sizing: border-box;
	z-index: 2;
}

.custom-checkbox input[type="checkbox"]:checked+label:after {
	content: '';
	position: absolute;
	left: 6px;
	top: 3px;
	width: 6px;
	height: 11px;
	border: solid #000;
	border-width: 0 3px 3px 0;
	transform: inherit;
	z-index: 3;
	transform: rotateZ(45deg);
}
/*
.custom-chrgb(255, 255, 255)input[type="checkbox"]:checked + label:before {
	border-color: #03A9F4;
	background: #03A9F4;
}
위에 코드가 오류 나서 아래 코드로 일단 수정하였음.
*/
.custom-chrgb input[type="checkbox"]:checked+label:before {
	border-color: #03A9F4;
	background: #03A9F4;
}

.custom-checkbox input[type="checkbox"]:checked+label:after {
	border-color: #fff;
}

.custom-checkbox input[type="checkbox"]:disabled+label:before {
	color: #b8b8b8;
	cursor: auto;
	box-shadow: none;
	background: #ddd;
}
/* Modal styles */
.modal .modal-dialog {
	max-width: 700px;
}

.modal .modal-header, .modal .modal-body, .modal .modal-footer {
	padding: 10px 20px;
}

.modal .modal-content {
	border-radius: 3px;
	font-size: 14px;
}

.modal .modal-title {
	display: inline-block;
}

.modal .form-control {
	border-radius: 2px;
	box-shadow: none;
	border-color: #dddddd;
}

.modal textarea.form-control {
	resize: vertical;
}

.modal .btn {
	border-radius: 20px;
	min-width: 100px;
	text-align: center;
}

.modal form label {
	font-weight: normal;
}