@charset "EUC-KR";

html { /*전체 */
	height: 100%;
}

body { /*공백 없애기 위함*/
	margin: 0;
	padding: 0;
	height: 100%;
}

/*상단바 css*/
.topMenuWrapper{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 80px;
	background-color: lightgray;
	top: 0;
	left: 0;
}

h1{
	color: rgb(78, 78, 78);
	margin-left: 40px;
	float: left;
	line-height: 40px;
}

.topMenu{
	margin-right: 40px;
	float: right;
}

.topMenu li{
	list-style: none;
	float: left;
}

.topMenu a{
	text-decoration: none;
	font-size: 17px;
	font-weight: bold;
	color: rgb(78, 78, 78);
	padding: 0 40px;
	line-height: 40px;
}
/*상단바 css 끝*/

.compareresulttext { /*비교 결과*/
	margin-left: 5%;
	font-weight: bold;
	font-size: 25px;
}

ul.tabs, ul.compare_tabs {
	margin: 0;
	padding: 0;
	list-style: none;
	width: auto;
	height: 40.5px;
	white-space: nowrap;
	display: flex;
	z-index: 1;
}

ul.tabs li {
	margin-top: 5px;
	margin-bottom: 0px;
	padding: 0;
	padding-left: 1%;
	height: 35px;
	line-height: 35px;
	border: 1px solid #999;
	border-bottom: none;
	position: relative;
	background: #e0e0e0;
	cursor: pointer;
	display: inline-block;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}

ul.compare_tabs li {
	float: left;
	margin-top: 5px;
	margin-bottom: 0px;
	padding: 0;
	height: 35px;
	line-height: 35px;
	border: 1px solid #999;
	border-bottom: none;
	/* tab의 길이보다 파일명이 길 경우, 잘리는 부분은 ...으로 표시 */
	overflow: hidden;
	white-space: nowrap;
	/* 끝 */
	position: relative;
	background: #e0e0e0;
	cursor: pointer;
	display: inline-block;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}

ul.compare_tabs li.compare_basic_tab-link { /* 비교 파일 위 '+' 탭메뉴 */
	flex: none; /* ul.compare_tabs에 설정되어있는 display:flex 해제 */
	width: 5%; /* 탭메뉴 가로 크기 */
	height: 35px;
	text-align: center;
	line-height: 35px;
	border: 1px solid #999;
	border-bottom: none;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}

ul.compare_tabs li.compare_basic_tab-link.current {
	/*background: tab 메뉴 배경색, color: tab 메뉴 속 글자색*/
	background: #ccc;
	color: black;
}

ul.compare_tabs li.tab-link.current {
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 5px;
	flex: none;
	width: inherit;
	/*overflow-x: auto;
   white-space: nowrap;*/
	/*background: tab 메뉴 배경색, color: tab 메뉴 속 글자색*/
	background: #ccc;
	color: black;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	font-weight: bold;
	height: 40px;
}
/* tab 메뉴에 마우스를 올리면 색깔 변함 */
ul.compare_tabs li:hover {
	background: #ccc;
}

#standardfiletotal {
	margin-top: 1%;
	margin-left: 5%;
	margin-bottom: 5%;
	float: left;
	width: 43%;
	height: 90%;
}

#standardfile_scroll {
	width: 100%;
	height: 100%;
	border: 2px solid;
	border-color: rgb(69, 128, 255);
	overflow: auto; /*스크롤바 생성*/
}

#standardfile {
	/*  기준 파일 */
	width: 100%;
	height: 100%;
	background-color: rgb(233, 233, 233);
	padding-left: 1%;
}

#comparefiletotal {
	margin-top: 1%;
	margin-right: 5%;
	margin-bottom: 5%;
	float: right;
	width: 43%;
	height: 90%;
}

.compare_context {
	width: 100%;
	height: 100%;
	border: 2px solid;
	border-color: black;
	background-color: rgb(233, 233, 233);
	overflow: auto;
	border-color: black; /*스크롤바 생성*/
	padding-left: 1%;
}

.comparefile {
	width: 100%;
	height: 100%;
	background-color: rgb(233, 233, 233);
	display: none;
}

.comparefile.current {
	display: inherit;
}

#filelist { /*파일 세부 정보 리스트*/
	width: 100%;
	margin: auto;
	padding: 3% 0;
	color: rgb(78, 78, 78);
	border-collapse: collapse;
	color: rgb(78, 78, 78);
}

#summary_div {
	top: 80px;
	background-color: white;
	width: 100%;
	overflow: hidden;
	z-index: 1;
	margin-top: 40px;
}

#summary { /*비교 결과 summary*/
	width: 50%;
	margin: 0 auto;
	padding: 1% 0;
	height: 25px;
	background-color: white;
}

.line {
	border-bottom: 2px solid;
	border-color: black;
	text-align: center;
	font-size: 25px;
	margin-bottom: 2p;
	background-color: white;
}

#resultlist {
	width: 90%;
	height: 70%;
	margin: 0 auto;
	padding: 0.5%;
	color: rgb(78, 78, 78);
	border: 1px solid black;
	border-collapse: collapse;
}

#resultlisttable {
	/*  table 태그 */
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	background-color: lightgrey;
}

.resultline, .resultline_2 {
	/*메타데이터 상 주요 불일치 원인 칸*/
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.resultDetail {
	border: 1px solid black;
	border-collapse: collapse;
}

.compare_method {
	width: 99%;
	margin-top: 1%;
	margin-right: 1%;
	text-align: right;
	float: right;
}

.reset_method {
	width: 95%;
	margin-left: 4%;
	margin-bottom: 50px;
	float: left;
}

#resetbutton:hover {
	color: red;
}

.export_file {
	width: 99%;
	margin-right: 1%;
	margin-bottom: 1%;
	text-align: right;
	float: right;
}

.compare_button, .export_button {
	background-color: lightgrey;
}

.compare_button.current {
	background-color: #aeebfa;
	color: white;
}

.compare_button:hover {
	font-weight: bold;
	font-size: 15px;
}

.export_button:hover {
	font-weight: bold;
	font-size: 15px;
}

#filelist tr {
	/*파일명, 확장자 정보 칸*/
	border-bottom: 1px solid black;
	padding: 1.5%;
}

.box {
	width: 90%;
	height: 150px;
	overflow-y: auto;
	margin-left: 5%;
}

#filelisttable_head {
	display: table;
	width: 90%;
	margin: -25px 0px 0px 0px;
	position: absolute;
}

.stbtn {
	background: #e0e0e0;
	border: none;
	margin-left: 2px;
}

.stbtn:hover {
	color: red;
	font-weight: bold;
}

.compareresult {
	width: 100vw;
	padding-top: 0.5%;
	border-bottom: 0.5px solid lightgray;
}

#buttonhover {
	border: none;
	margin-left: 2px;
	background: #ccc;
	margin-right: 3px;
}

#buttonhover:hover {
	color: red;
	font-weight: bold;
}

.filehover:hover {
	font-weight: bold;
}

/* selectFileLocation Modal Window */
#selectStandardFileLocation, #selectCompareFileLocation {
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, .5);
	display: flex;
	align-items: center;
	justify-content: center;
}

#selectStandardFileLocationContent, #selectCompareFileLocationContent {
	width: 800px;
	height: 200px;
	background: white;
	padding: 10px 16px;
	border-radius: 25px;
}

#selectStandardFileLocationContent h2, #selectCompareFileLocationContent h2
	{
	text-align: center;
	height: 70px;
	line-height: 70px;
}

#quit {
	font-size: 20px;
	background-color: white;
	border: none;
}

#quit:hover {
	color: red;
}

#fileLocationButtons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 20px;
	margin-top: 40px;
}

#fileLocationButtons input, #fileLocationButtons label {
	height: 25px;
	background-color: lightgray;
	border: none;
	font-size: 17px;
	text-align: center;
}

#fileLocationButtons input:hover, #fileLocationButtons label:hover {
	background-color: #ccc;;
}

/* selectFileDatabase Modal Window */
.top {
	width: 100%;
	padding-top: 1%;
	margin: 0%;
	height: 1.5em;
	position: fixed;
	background-color: white;
	overflow: hidden;
	font-size: 1.5em;
}

#selectFileDatabase {
	width: 100vw;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, .5);
	display: flex;
	align-items: center;
	justify-content: center;
}

#selectFileDatabaseContent {
	justify-content: center;
	width: 80%;
	height: 90%;
	padding-top: 20px;
	padding-left: 1%;
	padding-right: 1%;
	overflow: auto;
	background: white;
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
	transform: translate(-50%, -50%)
}

.menu {
	padding: 5px;
}

.menu-style {
	padding-top: 5%;
}

.menu-div {
	height: 45%;
	overflow: auto;
}

.result-div {
	height: 45%;
	overflow: auto;
}

.menu a {
	cursor: pointer;
	font-weight: bold;
	font-size: 1.3em;
	margin-left: 1.0em;
}

.menu .hide {
	columns: 2;
	display: none;
}

.result-div span {
	cursor: pointer;
	font-weight: bold;
	font-size: 1.3em;
}

input[type=checkbox] {
	zoom: 1.5;
}

ul {
	list-style: none;
}

.select-list {
	margin: 0;
	font-size: 1.2em;
	padding: 4px;
}

.select-text {
	font-size: 1.2em;
	padding: 4px;
	font-weight: bold;
}

.menu-style {
	padding-left: 0;
}

.result-style {
	width: 100%;
	margin-top: 10px;
	border: 1px solid #444444;
	border-collapse: collapse;
}

.result-style_th, .result-style_td {
	border: 1px solid #444444;
}

.fileListFromDB{
	background-color: white;
}

.fileListFromDB.beSelected{
	background-color: #aeebfa;
}

.search_text {
	width: 60%;
	background-color: white;
	height: 32px;
	border: 0;
	border-radius: 13px;
	outline: none;
	font-size: 1.0em;
	background-color: rgb(233, 233, 233);
}

.search {
	margin-left: 6%;
	width: 50%;
	background-color: white;
	height: 32px;
	border: 0;
	border-radius: 13px;
	outline: none;
	font-size: 1.0em;
	background-color: rgb(233, 233, 233);
}

.search_button {
	background-color: lightgray;
	border: none;
	font-size: 1.0em;
	text-align: center;
	border-radius: 13px;
}

.search_button:hover {
	background-color: gray;
}

.selectOS {
	margin-left: 3%;
	height: 32px;
	width: 50%;
	font-size: 1.0em;
}

.recordQ {
	margin-left: 3%;
	height: 32px;
	width: 50%;
	font-size: 1.0em;
}

.recordmode {
	margin-left: 5%;
	height: 32px;
	width: 50%;
	font-size: 1.0em;
}