<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>AudioInspect</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MediaInfo_10</display-name>
    <servlet-name>MediaInfo_10</servlet-name>
    <servlet-class>MediaInfoAPI.MediaInfo_10</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MediaInfo_10</servlet-name>
    <url-pattern>/MediaInfo_10</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Metadata</display-name>
    <servlet-name>Metadata</servlet-name>
    <servlet-class>MediaInfo.Metadata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Metadata</servlet-name>
    <url-pattern>/Metadata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sendFilePath</display-name>
    <servlet-name>sendFilePath</servlet-name>
    <servlet-class>sendFilePath.sendFilePath</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendFilePath</servlet-name>
    <url-pattern>/sendFilePath</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getMediaInfo</display-name>
    <servlet-name>getMediaInfo</servlet-name>
    <servlet-class>controller.getMediaInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getMediaInfo</servlet-name>
    <url-pattern>/getMediaInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fileUploadServlet</display-name>
    <servlet-name>fileUploadServlet</servlet-name>
    <servlet-class>controller.fileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileUploadServlet</servlet-name>
    <url-pattern>/fileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>test.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fileListServlet</display-name>
    <servlet-name>fileListServlet</servlet-name>
    <servlet-class>controller.fileListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileListServlet</servlet-name>
    <url-pattern>/fileListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>metaDataFromDBServlet</display-name>
    <servlet-name>metaDataFromDBServlet</servlet-name>
    <servlet-class>controller.metaDataFromDBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>metaDataFromDBServlet</servlet-name>
    <url-pattern>/metaDataFromDBServlet</url-pattern>
  </servlet-mapping>
</web-app>